<div class="services">
    <div class="title">
        <h2>Services</h2>
    </div>
    <div class="attribute">
        <button mat-flat-button color="primary" (click)="addService()">Add Services</button>
        <div class="search">
            <mat-icon class="search-icon">search</mat-icon>
            <mat-form-field>
                <input (keyup)="applyFilter($event)" matInput placeholder="Filter">
            </mat-form-field>
        </div>
    </div>
    <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort color="primary" matSortActive="id" matSortDirection="asc">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="serviceDetail(element)"> {{element.id}} </mat-cell>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Service </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="serviceDetail(element)"> {{element.name}} </mat-cell>
        </ng-container>
        
        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="serviceDetail(element)"> {{element.description}} </mat-cell>
        </ng-container>

        <!-- Edit -->
        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="Edit Service Information" (click)="serviceEdit(element)">
                <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Delete this services" (click)="deleteService(element)">
                <mat-icon>clear</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Service Detail" (click)="serviceDetail(element)">
                <mat-icon>more_horiz</mat-icon>
            </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
