@media (max-width: 1349.98px) and (min-width: 740px){ 
    .cards{
        grid-template: repeat(4, 1fr) / repeat(2, 1fr) !important;
    }
}
.mat-header-cell{
    font-size: 14px !important;
}
.mat-cell {
    font-size: 12px !important;
}
.date{
    font-size: 10px !important;
}