.server-edit .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.server-edit .title h2 {
    margin: 16px;
}
.server-edit .title .icon {
    font-size: 24px;
    color: #4B4B4B;
    margin: 16px;
}
.server-edit .body form {
    display: flex;
    flex-direction: column;
    margin: 36px 36px 0px 36px;
}
.mat-form-field{
    width: 350px;
    caret-color: #D4D4D4;
}

.server-edit .buttons {
    display: flex;
    justify-content: flex-end;
    margin: 8px 36px 30px 0px;
    width: 100%;
}
.buttons .cancel {
    margin-right: 20px;
}
.server-edit .noValue {
    color: red;
    font-size: small;
    margin-top:-15px;
}
.server-edit .mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: gray;
}
.mat-stroked-button.mat-purple {
    border-color: #9A6AEF;
    color: #9A6AEF;
}
