.header {
  height: 100%;
}
.mat-toolbar {
  background-color: #18181b;
  height: 100%;
}
.spacer {
  flex: 1 1 auto;
}
.mat-icon {
  color: white;
}
span {
  font-size: 13px;
  margin: 0 5px;
  color: whitesmoke;
}
.ellipsis {
  color: whitesmoke;
  text-overflow: ellipsis;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
}
