<div class="server-detail">
    <div class="title">
      <h2>Detail Server</h2>
      <button mat-button mat-dialog-close>
        <mat-icon class="icon">close</mat-icon>
      </button>
    </div>
    <hr>
    <div mat-dialog-content class="body">
      <form [formGroup]="serverDetailForm">
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Server Name</mat-label>
          <input matInput placeholder="Server Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label> IP Adress </mat-label>
          <input matInput placeholder="IP Adress" formControlName="ip_adress" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Description</mat-label>
          <textarea matInput rows="4" formControlName="description" required></textarea>
        </mat-form-field>
      </form>
      <div class="services">
        <h5 class="service-header">Services *</h5>
        <div class="checkbox">
          <label *ngFor="let service of services; let i = index">
            <label *ngFor="let item of serviceId">
              <label *ngIf="service.id == item.service_id">
                <mat-checkbox *ngIf="item.check == true" class="check" [checked]="true" [disabled]="true">{{service.name}}</mat-checkbox>
                <mat-checkbox *ngIf="item.check == false" class="check" [checked]="false" [disabled]="true">{{service.name}}</mat-checkbox>
              </label>
            </label>
          </label>
        </div>
      </div>
    </div>
</div>

  