<div class="service-detail">
    <div class="title">
      <h2>Detail Service</h2>
      <button mat-button mat-dialog-close>
        <mat-icon class="icon">close</mat-icon>
      </button>
    </div>
    <hr>
    <div mat-dialog-content class="body">
      <form [formGroup]="serviceDetailForm">
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Service Name</mat-label>
          <input matInput placeholder="Service Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Server</mat-label>
          <input matInput placeholder="Server Name" formControlName="server" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Created Time</mat-label>
          <input matInput placeholder="Service Name" formControlName="createdAt" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Updated Time</mat-label>
          <input matInput placeholder="Service Name" formControlName="updatedAt" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Description</mat-label>
          <textarea matInput rows="3" formControlName="description" required></textarea>
        </mat-form-field>
      </form>
    </div>
  </div>
  