<div class="sidebar">
    <div class="company">
        <img src="assets/images/ankageo.png">
        <h2>Ankageo</h2>
    </div>
    <div class="hrline">
        <hr>
    </div>
    <div class="item">
        <div class="items">
            <a routerLink="/admin/services">
                <mat-icon>settings</mat-icon><p>Services</p>
            </a>
        </div>
        <div class="items">
            <a routerLink="/admin/servers">
                <mat-icon>storage</mat-icon><p>Servers</p>
            </a>
        </div>
        <div class="items">
            <a routerLink="/admin/dashboard">
                <mat-icon>dashboard</mat-icon><p>Dashboard</p>
            </a>
        </div>
    </div>
</div>