<div class="server-add">
    <div class="title">
      <h2>Add Server</h2>
      <button mat-button mat-dialog-close>
        <mat-icon class="icon">close</mat-icon>
      </button>
    </div>
    <hr>
    <div mat-dialog-content class="body">
      <form [formGroup]="serverForm">
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Server Name</mat-label>
          <input matInput placeholder="Server Name" formControlName="name" required>
        </mat-form-field>
        <span *ngIf="serverForm.controls['name'].invalid && (serverForm.controls['name'].dirty || serverForm.controls['name'].touched)" class="noValue">
            *Please enter server dns name
        </span>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Description</mat-label>
          <textarea matInput rows="3" formControlName="description" required></textarea>
        </mat-form-field>
        <span *ngIf="serverForm.controls['description'].invalid && (serverForm.controls['description'].dirty || serverForm.controls['description'].touched)" class="noValue">
          *Please enter description
        </span>
      </form>
    </div>
    <div mat-dialog-actions>
      <div class="buttons">
        <button mat-stroked-button mat-dialog-close mat-dialog-close="false" class="cancel" color="purple">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="serverForm.invalid">Save</button>
      </div>
    </div>
</div>
  