.server-add .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.server-add .title h2 {
  margin: 16px;
}
.server-add .title .icon {
  font-size: 24px;
  color: #4b4b4b;
  margin: 16px;
}
.server-add .body form {
  display: flex;
  flex-direction: row;
  margin: 36px 36px 0px 36px;
}
.left{
  display: flex;
  flex-direction: column;
}
.mat-form-field {
  width: 350px;
  caret-color: #d4d4d4;
}
.server-add .buttons {
  display: flex;
  justify-content: flex-end;
  margin: 8px 36px 30px 0px;
  width: 100%;
}
.buttons .cancel {
  margin-right: 20px;
}
.server-add .noValue {
  color: red;
  font-size: small;
  margin-top: -15px;
}
.server-add .mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled
  .mat-form-field-infix::after {
  color: gray;
}
.mat-stroked-button.mat-purple {
  border-color: #9a6aef;
  color: #9a6aef;
}
/* CHECKBOX */
.services {
  background-color: #0c0a0e;
  padding: 10px 16px;
  margin: 0px 12px;
  width: 200px;
  max-height: 242px;
}
.service-header {
  font-size: 12px;
  color: #7b7b7b;
}
.checkbox {
  min-height: 190px;
  max-height: 190px;
  overflow-y: auto;
}
.check{
  display: flex;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #00000072;
}
::-webkit-scrollbar-thumb {
  background-color: #D4D4D41F;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  transition: 0.6s;
  background-color: #D4D4D43B;
}
