.delete-server .title{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.delete-server .title .icon {
  font-size: 16px;
  color: #4B4B4B;
}
.delete-server .body p{
  font-size: 18px;
  padding: 15px 22px 0px 22px;
}
.mat-dialog-actions{
  display: flex;
  justify-content: flex-end;
  padding: 10px 28px 35px 0px;
}
.buttons .cancel {
  margin-right: 20px;
}

::ng-deep .mat-dialog-container{
  background-color: #151319;
  color: #D4D4D4;
  padding: 0px !important;
  overflow: hidden !important;
}
.mat-stroked-button.mat-purple {
  border-color: #9A6AEF;
  color: #9A6AEF;
} 


