<div class="cpassword">
    <div class="title">
      <h2>Change Password</h2>
      <button mat-button mat-dialog-close>
        <mat-icon class="icon">close</mat-icon>
      </button>
    </div>
    <hr>
    <div mat-dialog-content class="body">
      <form [formGroup]="cpasswordForm">
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Current Password</mat-label>
          <input type="password" matInput placeholder="Current password" formControlName="current_password" required>
        </mat-form-field>
        <span *ngIf="cpasswordForm.controls['current_password'].invalid && (cpasswordForm.controls['current_password'].dirty || cpasswordForm.controls['current_password'].touched)" class="noValue">
            *Please enter your current password
        </span>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>New Password</mat-label>
          <input type="password" matInput placeholder="New password" formControlName="new_password" required>
        </mat-form-field>
        <span *ngIf="cpasswordForm.controls['new_password'].invalid && (cpasswordForm.controls['new_password'].dirty || cpasswordForm.controls['new_password'].touched)" class="noValue">
          *Please enter your new password
        </span>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Confirm New Password</mat-label>
          <input type="password" matInput placeholder="Confirm new password" formControlName="confirm_new_password" required>
        </mat-form-field>
        <span *ngIf="cpasswordForm.controls['confirm_new_password'].invalid && (cpasswordForm.controls['confirm_new_password'].dirty || cpasswordForm.controls['confirm_new_password'].touched)" class="noValue">
          *Please confirm new your password
        </span>
      </form>
    </div>
    <div mat-dialog-actions>
      <div class="buttons">
        <button mat-stroked-button mat-dialog-close mat-dialog-close="false" class="cancel">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="cpasswordForm.invalid" (click)="changePassword()">Save</button>
      </div>
    </div>
  </div>
  