.cpassword .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cpassword .title h2 {
    margin: 16px;
}
.cpassword .title .icon {
    font-size: 24px;
    color: #4B4B4B;
    margin: 16px;
}
.cpassword .body form {
    display: flex;
    flex-direction: column;
    margin: 36px 36px 0px 36px;
}
.mat-form-field{
    width: 250px;
}
.cpassword .buttons {
    display: flex;
    justify-content: flex-end;
    margin: 8px 36px 30px 0px;
    width: 100%;
}
.buttons .cancel {
    margin-right: 20px;
}
.cpassword .noValue {
    color: red;
    font-size: small;
    margin-top:-15px;
}
::ng-deep .custom-style-warn .mat-simple-snackbar-action {
    color: white !important;
}
::ng-deep .mat-dialog-container{
    background-color: #151319;
    color: #D4D4D4;
    padding: 0px !important;
    overflow: hidden !important;
}
::ng-deep .mat-form-field span.mat-form-field-label-wrapper label {
    color:#D4D4D4 !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #00000072 !important; 
}
.mat-stroked-button.mat-purple {
    border-color: #9A6AEF;
    color: #9A6AEF;
}



