<div class="dashboard">
    <div class="title">
        <h2>Dashboard</h2>
    </div>
    <div class="cards">
        <div class="card" *ngFor="let server of servers">
            <div class="card-header">
                <h2>{{server.dns_name}}</h2>
                <mat-icon class="gateway" routerLink="/admin/logview/{{server.id}}">aspect_ratio</mat-icon> 
            </div>
            <div class="card-content">
                <div *ngFor="let service of server.services">
                    <div class="card-items" *ngIf="service.status != true">
                        <p>{{service.name}}</p>    
                        <mat-icon class="error">error</mat-icon> 
                    </div>
                </div>
                <div *ngFor="let service of server.services">
                    <div class="card-items" *ngIf="service.status == true">
                        <p>{{service.name}}</p>    
                        <mat-icon class="success">check_circle_outline</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>