@import "../../../app/app.tablet.css" screen and  (max-width: 991.98px);
@import "../../../app/app.landscape.css" screen and (max-width: 767.98px);
@import "../../../app/app.desktop.css" screen and (max-width: 1199.98px);
.dashboard{
    min-width: 243px;
    padding: 20px;
}
.dashboard h2{
    text-align: center;
    width: 100%;
}
.title h2{
    color: #D4D4D4;
    font-size: 32px;
}
.cards{
    display: grid;
    width: 100%;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}
.card {
    margin: 8px;
    background-color: #ffffff;
    border: 10px dashed  black;
}
.scrollbar{
    max-height: 132px;
    overflow-y: auto;
}
.card-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 8px;
}
/* .card:hover{
    margin-top: -5px;
    margin-bottom: -5px;
    width: 100%;
} */
.card-items:hover{
    background-color: black;
    line-height: normal;
    color: white;
    /* padding: 8px; */
}
.card h2{
    padding: 8px 0px;
}
.card p{
    font-size: 17px;
    display: inline-block;
    line-height: normal !important;
    text-align: center;
}
.success{
    color: greenyellow;
    display: inline-block;
}
.error{
    color: red;
}

/* Scrollbar */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track {
background: white;
}
::-webkit-scrollbar-thumb {
background-color: #ff0000;
border-radius: 10px;
}
