<div class="dashboard">
    <div class="title">
        <h2>Dashboard</h2>
    </div>
    <div class="cards">
        <div class="card" *ngFor="let server of servers">
            <h2>{{server.dns_name}}</h2>
            <div class="scrollbar">
                <div *ngFor="let service of server.services">
                    <div class="card-items" *ngIf="service.status != true">
                        <p>{{service.name}}</p>    
                        <mat-icon class="success" *ngIf="service.status == true">check_circle_outline</mat-icon>
                        <mat-icon class="error" *ngIf="service.status != true">error</mat-icon> 
                    </div>
                </div>
                <div *ngFor="let service of server.services">
                    <div class="card-items" *ngIf="service.status == true">
                        <p>{{service.name}}</p>    
                        <mat-icon class="success" *ngIf="service.status == true">check_circle_outline</mat-icon>
                        <mat-icon class="error" *ngIf="service.status != true">error</mat-icon> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>