<div class="service-edit">
    <div class="title">
      <h2>Edit Service</h2>
      <button mat-button mat-dialog-close>
        <mat-icon class="icon">close</mat-icon>
      </button>
    </div>
    <hr>
    <div mat-dialog-content class="body">
      <form [formGroup]="serviceEditForm">
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Service Name</mat-label>
          <input matInput placeholder="Service Name" formControlName="name" required>
        </mat-form-field>
        <span *ngIf="serviceEditForm.controls['name'].invalid && (serviceEditForm.controls['name'].dirty || serviceEditForm.controls['name'].touched)" class="noValue">
            *Please enter service name
        </span>
        <mat-form-field appearance="fill">
          <mat-label>Server</mat-label>
          <mat-select formControlName="server" [(value)]="selectedServer">
            <mat-option [value]="option.dns_name" *ngFor="let option of servers">{{ option .dns_name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Description</mat-label>
          <textarea matInput rows="3" formControlName="description" required></textarea>
        </mat-form-field>
        <span *ngIf="serviceEditForm.controls['description'].invalid && (serviceEditForm.controls['description'].dirty || serviceEditForm.controls['description'].touched)" class="noValue">
          *Please enter description
        </span>
      </form>
    </div>
    <div mat-dialog-actions>
      <div class="buttons">
        <button mat-stroked-button mat-dialog-close mat-dialog-close="false" class="cancel" color="purple">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="serviceEditForm.invalid" (click)="edit()">Save</button>
      </div>
    </div>
  </div>
  